<div class="editor-page">
    <h1>Markdown Editor</h1>

    <div class="markdown-editor-container">
        <div class="markdown-editor-toolbar">
            <div class="toolbar-tabs">
                <button id="editor-edit">Edit</button>
                <button id="editor-preview">Preview</button>
            </div>
            <div id="markdown-tools" class="toolbar-tools active">
                <button>H</button>
                <button>B</button>
                <button>I</button>
            </div>
        </div>
        <div class="markdown-editor-textarea-container">
            <textarea
                class="markdown-view active"
                id="markdown-editor-textarea"
                placeholder="Use markdown to format your README..."
            ></textarea>
            <div class="markdown-view" id="markdown-preview">
                <div>
                    Nothing to preview...
                </div>
            </div>
        </div>
    </div>
</div>
